
	  <div class="required field">
	  	<label>Name:</label>
	  	<div class="three fields">
	  		<div class="field">
	  			<input type="text" name="firstName" placeholder="First Name">
	  		</div>
	  		<div class="field">
	  			<input type="text" name="midName" placeholder="Mid Name">
	  		</div>	  		
	  		<div class="field">
	  			<input type="text" name="lastName" placeholder="Last Name">
	  		</div>	  		
	  	</div>
	  	
	  </div>
	  <div class="required field">
	    <label>Email:</label>
	    <input type="text" name="email" placeholder="Email">
	  </div>
	  <div class="required field">
	    <label>Password:</label>
	    <input type="text" name="password" placeholder="Last Name">
	  </div>

		<div id="signupBut" class="ui fluid large blue  button">Sign up</div>
		<div class="ui error message"></div>
