
 <i class="close icon"></i>
  <div class="header">
    Sign up
  </div>
  <div class="content">
  	<div class="ui two blue item menu">
	  <a class="item active" data-tab="ind_signup">Individual Account</a>
	  <a class="item" data-tab="cor_signup">Corporation Account</a>
	</div>
	<!-- ---------------------------- Individual form-->
	<div class="ui active tab" data-tab="ind_signup">
  	<form class="ui form" id="signinForm1">
  		
	  <div class="required field">
	  	<label>Name:</label>
	  	<div class="three fields">
	  		<div class="field">
	  			<input type="text" name="firstName" placeholder="First Name">
	  		</div>
	  		<div class="field">
	  			<input type="text" name="midName" placeholder="Mid Name">
	  		</div>	  		
	  		<div class="field">
	  			<input type="text" name="lastName" placeholder="Last Name">
	  		</div>	  		
	  	</div>
	  	
	  </div>
	  <div class="required field">
	    <label>Email:</label>
	    <input type="text" name="email" placeholder="Email">
	  </div>
	  <div class="required field">
	    <label>Password:</label>
	    <input type="text" name="password" placeholder="Password">
	  </div>

		<div id="signupBut1" class="ui fluid large blue  button">Sign up</div>
		<div class="ui error message"></div>
  	</form>
</div>


	<!-- ---------------------------- Cor form-->
	<div class="ui tab" data-tab="cor_signup">
  <!-- Tab Content !-->
  		  	<form class="ui form" id="signinForm2">
  	<div class="required field">
  		<label>Corporation Name:</label>
  		<input type="text" name="companyName" placeholder="Corporation Name">
  	
  	
  	</div>	
  		

	  <div class="required field">
	    <label>Corporation Email:</label>
	    <input type="text" name="email" placeholder="Email">
	  </div>
	  <div class="required field">
	    <label>Password:</label>
	    <input type="text" name="password" placeholder="Password">
	  </div>

		<div id="signupBut2" class="ui fluid large blue  button">Sign up</div>
		<div class="ui error message"></div>
  	</form>
  
	</div>
	
	
	</div>
	
<script type="text/javascript">

	$(function(){
		$('.item.menu .item').tab();
		
	});

</script>
	
	
	
